.contents{
    margin-left: 40%;
    margin-top: 10%;
}
.image{
    
}
.search{
background-color:#EEEEEE;
text-align: center;
width: 623px;
}
.group{
   
 
   
}
td{
    padding: 20px;
    background-color: #62B3AA;
    border: 1px solid white;
}
ul{

    list-style:none;
}